@-webkit-keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes pulse {
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(1);
  }
}
.animate-pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scaleX(1);
  }
}

@-webkit-keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

@-webkit-keyframes bounceInRight {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes bounceInRight {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

.section--hero {
  height: 30%;
}

.hero__main-title span {
  font-size: 4em;
}

.hero__main-title {
  justify-content: center;
  display: flex;
  margin-top: 20%;
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  font-weight: 900;
  line-height: 120px;
  -webkit-background-clip: text;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.42);
  -webkit-animation: rubberBand 1.7s ease;
  animation: rubberBand 1.7s ease;
  transition: font 0.6s ease;
}

.gray {
  color: #9a79bb;
}

.color {
  color: #6a4491;
}

.field label {
  font-size: 2em !important;
}

.login-form .field {
  max-width: 60% !important;
}
.findId-form .field {
  max-width: 100% !important;
  margin: 0 !important;
  margin-right: 0 !important;
}

.findPw-form .field {
  max-width: 100% !important;
  margin-bottom: 5% !important;
  margin-right: 0 !important;
}

.findId-form,
.findPw-form {
  width: 70% !important;
}

.ui.placeholder.segment {
  padding-top: 10% !important;
}

.ui.message {
  text-align: center;
  padding: 5px 5px !important;
  font-size: 2em !important;
}

.signup-form .field {
  max-width: 20rem !important;
}

.form-back:hover {
  cursor: pointer;
}
