.chatbox {
  background-color: white;
  width: 1200px;
  height: 500px;
}
.chat {
  background-color: white;
}
.title1 {
  text-align: left;
  color: #269ceb;
  margin-top: 0px;
  font-size: 3rem;
}

.title2 {
  text-align: left;
  color: #ff9d00;
  margin-top: 0px;
  font-size: 3rem;
}

.message {
  font-size: 3rem;
  max-width: 800px;
}

.align-center {
  display: flex;
  justify-content: center;
}
