.Loader__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.88); */
}
.Loader__content {
  max-width: 320px;
  min-width: 320px;
  padding: 30px;
  box-sizing: border-box;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.Loader__svg {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
}
.Loader__path {
  stroke: #a993ec;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
.Loader__messege {
  margin-top: 20px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
