.pageBtn {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

.paginate {
  position: relative;
  margin: 7px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  /* position: absolute; */
  top: 30%;
  /* margin-top: -20px; */
  -webkit-filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.2));
}
.paginate i {
  position: absolute;
  left: 0;
  top: 10%;
  width: 1.5em;
  height: 5px;
  border-radius: 2.5px;
  border: solid 0.01px #8157a871;
  background: #fff;
  /* background: red; */
  transition: all 0.15s ease;
}
.paginate.left {
  right: 35%;
}
.paginate.left i {
  transform-origin: 0% 50%;
}
.paginate.left i:first-child {
  transform: translate(0, -1px) rotate(40deg);
}
.paginate.left i:last-child {
  transform: translate(0, 1px) rotate(-40deg);
}
.paginate.left:hover i:first-child {
  transform: translate(0, -1px) rotate(30deg);
}
.paginate.left:hover i:last-child {
  transform: translate(0, 1px) rotate(-30deg);
}
.paginate.left:active i:first-child {
  transform: translate(1px, -1px) rotate(25deg);
}
.paginate.left:active i:last-child {
  transform: translate(1px, 1px) rotate(-25deg);
}
.paginate.left[data-state="disabled"] i:first-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state="disabled"] i:last-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state="disabled"]:hover i:first-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state="disabled"]:hover i:last-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.right {
  left: 58%;
}
.paginate.right i {
  transform-origin: 100% 50%;
}
.paginate.right i:first-child {
  transform: translate(0, 1px) rotate(40deg);
}
.paginate.right i:last-child {
  transform: translate(0, -1px) rotate(-40deg);
}
.paginate.right:hover i:first-child {
  transform: translate(0, 1px) rotate(30deg);
}
.paginate.right:hover i:last-child {
  transform: translate(0, -1px) rotate(-30deg);
}
.paginate.right:active i:first-child {
  transform: translate(1px, 1px) rotate(25deg);
}
.paginate.right:active i:last-child {
  transform: translate(1px, -1px) rotate(-25deg);
}
.paginate.right[data-state="disabled"] i:first-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state="disabled"] i:last-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state="disabled"]:hover i:first-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state="disabled"]:hover i:last-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate[data-state="disabled"] {
  opacity: 0.3;
  cursor: default;
}

.counter {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 35%;
  font-size: 4em;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  text-shadow: -1px 0 #8157a8, 0 2px #8157a8, 1px 0px #8157a8, 0 -1px #8157a8;
  color: #fff;
}
